doc/hamlib.cfg
doc/hamlib.info
doc/hamlib.html
doc/version.texi
include/hamlib/config.h
Hamlib-4++_imp.lib
Hamlib-4.lib
Hamlib-4_imp.lib
HamlibLua.lib
misc.lib
libhamlib-4++.dll.a
libhamlib-4.a
libhamlib-4.dll.a
libhamlibLua.a
libmisc.a
lib.args
link.args
link.tmp
vc1*.pdb
cl.args
clang-cl.args
depend_c.args
depend_cc.args
cpp-filter.py
check-for-unused-libs.py
bin/
objects/
